@import '~normalize.css';
@import './roboto.css';

$color-main: #778899;
$color-icon: lightgrey;
$color-bg-gallery: #333333;
$color-item-shadow: rgba(0, 0, 0, 0.75);
$color-item-outline: white;
$color-btn-default: grey;
$color-btn-close-hover: yellow;
$color-btn-open-hover: black;
$color-progress-bar: white;
$color-progress-counter: lightgrey;

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/**
 * header
 */

.header {
  position: relative;
}

.header__img {
  width: 100%;
  min-height: 100px;
  height: auto;
  border-bottom-right-radius: 550px 250px;
  border-bottom-left-radius: 10px 10px;
}

.description {
  position: absolute;
  right: 20px;
  bottom: -32px;
  z-index: 1;
  font-size: 24px;
  text-align: right;
  color: $color-main;
  font-weight: 100;

  &__text {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 460px) {
  .description {
    bottom: -50px;
  }
}

@media (max-width: 400px) {
  .description {
    bottom: -65px;
  }
}

@media (max-width: 340px) {
  .description {
    bottom: -80px;
  }
}

@media (max-width: 300px) {
  .description {
    bottom: -100px;
  }
}

@media (max-width: 960px) {
  .header__img {
    border-bottom-left-radius: 15px 3px;
  }
}

/**
 * icons
 */

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.icons {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.icons__link {
  display: block;
  flex-grow: 1;
  border-top: 1px solid $color-icon;
  border-right: 1px solid $color-icon;
  padding: 5px;

  &:last-child {
    border-right: none;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $color-icon;
  }

  &:hover .icons__img,
  &:focus .icons__img {
    opacity: 0.9;
  }
}

.icons__img {
  display: block;
  margin: 0 auto;
  opacity: 0.7;
}

@media (min-width: 600px) {
  .icons {
    justify-content: center;
    margin-bottom: 7px;
  }

  .icons__link {
    display: inline;
    flex-grow: 0;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: transparent;
    }
  }

  .icons__img {
    opacity: 0.6;
  }
}

/**
 * gallery
 */

.gallery {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  overflow: auto;
  background-color: $color-bg-gallery;
  visibility: hidden;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__item {
  padding: 0;
  background: transparent;

  box-sizing: border-box;
  border: 1px solid transparent;
  width: 50%;
  position: relative;

  -webkit-box-shadow: 0px 0px 5px 0px $color-item-shadow;
  -moz-box-shadow: 0px 0px 5px 0px $color-item-shadow;
  box-shadow: 0px 0px 5px 0px $color-item-shadow;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    cursor: pointer;
    outline: 1px solid $color-item-outline;
  }
}

.gallery__img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery__cnt-close {
  text-align: right;
  padding: 20px;
}

.gallery__btn-close {
  border: none;
  background-color: transparent;
  border-bottom: 1px dotted $color-btn-default;
  color: $color-btn-default;
  text-transform: lowercase;
  padding: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    color: $color-btn-close-hover;
    border-bottom-color: $color-btn-close-hover;
  }
}

.gallery__pbar {
  color: $color-progress-bar;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery__pbar-counter {
  font-size: 90%;
  color: $color-progress-counter;
}

.gallery__btn-open {
  display: block;
  margin: 3px;
  padding: 9px 5px;
  width: 40px;
  border: none;
  border-radius: 3px;
  background: none;

  &:before {
    content: ' ';
    display: block;
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
    background-color: $color-btn-default;
  }

  & .gallery__txt-open {
    display: block;
    height: 3px;
    width: 100%;
    background-color: $color-btn-default;
  }

  &:after {
    content: ' ';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 5px;
    background-color: $color-btn-default;
  }

  & .gallery__txt-open--hidden {
    display: none;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $color-icon;
    cursor: pointer;
  }

  &:hover:before,
  &:focus:before,
  &:hover:after,
  &:focus:after,
  &:hover .gallery__txt-open,
  &:focus .gallery__txt-open {
    color: $color-btn-open-hover;
    background-color: $color-btn-open-hover;
  }
}

@media (min-width: 500px) {
  .gallery__item {
    max-width: 290px;
  }
}

@media (min-width: 600px) {
  .gallery__list {
    padding: 5% 5% 0 5%;
  }
}

@media (min-width: 982px) and (max-width: 1304px) {
  .gallery__list::after {
    content: ' ';
    width: 290px;
  }
}
