@import '~normalize.css';
@import './roboto.css';

$color-main: #778899;
$color-icon: lightgrey;
$color-bg-gallery: #333333;
$color-item-shadow: rgba(0, 0, 0, 0.75);
$color-item-outline: white;
$color-btn-default: grey;
$color-btn-close-hover: yellow;
$color-btn-open-hover: black;
$color-progress-bar: white;
$color-progress-counter: lightgrey;
$color-icon-focus: black;

@import './main';
@import './header';
@import './gallery';
@import './footer';
