<footer class="footer">
  <div class="icons">
    <a
      href="https://www.linkedin.com/in/serhii-h-403150199"
      class="icons__link"
      target="_blank"
      rel="noreferrer"
    >
      <img
        src="../assets/images/linkedin_icon.png"
        class="icons__img"
        alt="linkedin link"
        width="32"
    /></a>
    <a
      href="https://github.com/ermondel"
      class="icons__link"
      target="_blank"
      rel="noreferrer"
    >
      <img
        src="../assets/images/github_icon.png"
        class="icons__img"
        alt="github link"
        width="32"
    /></a>
    <a
      href="mailto:ermondel@protonmail.com"
      class="icons__link"
      target="_blank"
      rel="noreferrer"
    >
      <img
        src="../assets/images/email_icon.png"
        class="icons__img"
        alt="email link"
        width="32"
    /></a>
  </div>
</footer>
